body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

model-viewer{
    width: 500px;
    height: 500px;
}